<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="Key1" value="----------PROD-----------"/>
  <add key="Key2" value="asdf.com"/>
  <add key="Key3" value="qwert.com"/>
  <add key="Key4" value="----------PRE-PROD----------"/>
  <add key="Key5" value="10.123.20.101"/>
  <add key="Key6" value="10.123.20.102"/>
  <add key="Key7" value="10.123.20.103"/>
  <add key="Key8" value="----------ALPHA----------"/>
  <add key="Key9" value="10.55.11.20"/>
  <add key="Key10" value="10.55.11.21"/>
  <add key="Key11" value="10.55.11.22"/>
  <add key="Key12" value="----------Dev----------"/>
  <add key="Key13" value="10.55.13.10"/>
  <add key="Key14" value="10.55.13.11"/>
  <add key="Key15" value="10.55.13.12"/>

</appSettings>
</configuration>